<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.description }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Ce site est mis en place dans le cadre du concours de référencement du <a href="http://cours-de-referencement.ec-lille.fr/">cours de référencement</a> de la Chaire E-Business et Mobilité de l'Ecole Centrale de Lille</p>
      </div>
    </div>

  </div>

</footer>
